@inherits IskanjeBase


<EditForm Model="@SearchTerm" OnSubmit="Search">
    <div class="input-group w-auto">
        <InputText @bind-Value="@SearchTerm" class="form-control" placeholder=@LabelText />
        <div class="input-group-append ml-2">
            <button class="btn btn-primary" type="submit">Išči</button>
        </div>
    </div>
</EditForm>

