<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">VPlati</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Prva stran
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="plezalisca">
                <span class="oi oi-compass" aria-hidden="true"></span> Plezališča
            </NavLink>
            <AuthorizeView Roles="admin">
                <Authorized>
                    <ul class="nav flex-column">
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="/addplezalisce" Match=@NavLinkMatch.All>
                                <span class="oi oi-plus" aria-hidden="true"></span>Novo plezališče
                            </NavLink>
                        </li>
                    </ul>
                </Authorized>
            </AuthorizeView>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="plezalci">
                <span class="oi oi-person" aria-hidden="true"></span> Plezalci
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
